<h1>Zona de Administração</h1>


<h2>Escalas</h2>
<ul>
  <li><%= link_to "Adicionar Escala" , new_admin_escala_path%></li>
  <li><%= link_to "Editar/Remover Escalas" , admin_escalas_path %></li>
</ul>
<h2>Construtores</h2>
<ul>
  <li><%= link_to "Novo Construtor"  , new_admin_construtor_path%></li>
  <li><%= link_to "Editar/Remover Construtores" , admin_construtors_path %></li>
</ul>
<h2>Tipos</h2>
<ul>
  <li><%= link_to "Novo Tipo" , new_admin_tipo_path %></li>
  <li><%= link_to "Editar/Remover Tipos" , admin_tipos_path %></li>
</ul>
<h2>Marcas</h2>
  <ul>
  <li><%= link_to "Nova Marca" , new_admin_marca_path %></li>
  <li><%= link_to "Editar/Remover Marcas" , admin_marcas_path %></li>
</ul>
<h2>Modelos</h2>
  <ul>
  <li><%= link_to "Novo Modelo" ,new_admin_modelo_path %></li>
  <li><%= link_to "Editar/Remover Modelos" ,admin_modelos_path %></li>
</ul>
<h2>Miniaturas</h2>
  <ul>
  <li><%= link_to "Nova Miniatura" , new_admin_miniatura_path %></li>
  <li><%= link_to "Editar/Remover Miniaturas" , admin_miniaturas_path %></li>
</ul>
